<% for post in @blog_posts do %>
  <div class="content_piece">
    <div class="title">
      <% link_to blog_post_path(post.permalink) do %>
        <h2><%= post.name %></h2>
      <% end -%>
      <p>
        <cite>publicado em: </cite> <%= I18n.l(post.created_at.to_date, :format => :long) %>
      </p>
    </div>
    <div class="content_body">
      <%= post.content[0..500] + "..." %>
    </div>
    <div class="read_more">
      <%= link_to t(:read_more), blog_post_path(post.permalink), :class => "read_more" %>
    </div>
  </div>
<% end %>

<% render :partial => "layouts/tag_cloud" %>
